<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAySGlX_GcxhBJEo6i3R6CmM6CvEhajn8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>914040036926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tbank.travelmemorize</string>
	<key>PROJECT_ID</key>
	<string>travel-memorize</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-memorize.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914040036926:ios:804cdb4b3513175080fb6f</string>
</dict>
</plist>